html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #212121;
  --primary-background-color: #ffffff;
  --footer-background-color: #2f303a;
  --link: #2196f3;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}
.no-margin {
  margin-top: 0;
  margin-bottom: 0;
}
/*-----DELETE------*/
.test {
  background-color: red;
}
/*----------------*/

.btn-box {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

/*стилизация логотипа*/

.logo1 {
  display: inline-block;
  margin-left: 215px;
  margin-right: auto;
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo2 {
  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/*header навигация*/
.site-nav-group {
  display: flex;
  margin-left: 93px;
  margin-right: auto;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.site-nav-contacts {
  display: flex;
  margin-right: 215px;
  margin-left: auto;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.site-nav-contacts .navig {
  display: block;
}

.main-nav {
  width: 1600px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ECECEC;;
 
}

.site-nav-group .site-nav {
  display: block;
  margin: 0;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav-group .item + .item {
  margin-left: 50px;
}

.site-nav-contacts .item + .item {
  margin-left: 50px;
}

.navig {
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav:hover,
.site-nav:focus,
.navig:hover {
  color: var(--link);
}

.navig {
  color: #757575;
}

/*Герой раздел*/
.section-hero {
  width: 1600px;
  background-color: var(--footer-background-color);
  
}
.section-hero-text {
  color: #ffffff;
  padding-bottom: 30px;
  padding-top: 200px;
  padding-left: 452px;
  padding-right: 452px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button-hero {
  display: inline-block;
  margin-right: 700px;
 margin-left: 700px;
  font-family: inherit;
  color: white;
  margin-bottom: 200px;
  background-color: var(--link);
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.button-hero:hover {
  color: black;
}

/*Рекомендации для бизнеса*/

.section-text {
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.section-first {
  display: flex;
  text-align: left;
  padding-left: 0;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 94px;
  flex-wrap: wrap;
}
.section-first .item {
  width: 270px;
}
.section {
  padding-top: 94px;
  padding-left: 215px;
  padding-right: 215px;
  padding-bottom: 94px;
}

.section,
.section-comand,
.comand-name,
.comand-name,
.button-portfolio,
.text-portfolio {
  color: var(--primary-text-color);
}
.section-title {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*Чем занимаемся+команда*/
.command {
  width: 1600px;
  background-color: #f5f4fa;
  padding: 94px 215px 94px 215px;
}
.section-comand {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.list-comand {
  display: flex;
  padding: 0;
  margin: 0;
}
.list-comand .item + .item {
margin-left: 30px;
}

.section-second .no-margin {display: flex;}

.section-second .no-margin .item + .item {
  margin-left: 30px;
}
.section-second > .no-margin {
  padding-left: 0;
}
.comand-name,
.comand-prof {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.comand-prof,
.section-portfolio {
  color: #757575;
}

.footer-style {
  width: 1600px;
  background-color: var(--footer-background-color);
}
.navig-footer,
.navig-footer-adress {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.navig-footer {
  color: rgba(255, 255, 255, 0.6);
}
.navig-footer-adress {
  color: white;
}
.navig-footer-adress:hover,
.navig-footer:hover {
  color: var(--link);
}

.button-portfolio {
  
  display: inline-block;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  background: #F5F4FA;
border-radius: 4px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border: none;
padding: 6px 22px 6px 22px;
  
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--link);
}

.text-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.section-portfolio {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
.pointer {
  cursor: pointer;
}
.address {
  font-style: normal;
  padding-bottom: 60px;
  margin-left: 215px;
  margin-right: 1154px;
}
.logo2-footer {
  color: #ffffff;
}
.no-padding-margin-footer {
  margin: 0;
  padding: 0;
  
}
.footer-style .logo1 {
  margin-top: 60px;
  margin-left: 215px ;
  margin-right: 1240px;
  margin-bottom: 20px;

  font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #2196F3;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1600px;
}

.portfolio-picture {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  text-align: left;
  width: 1170px;

}
.portfolio-picture .item-flex {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
display: block;
  width: 370px;
  height: 404px;
}
.portfolio-picture .item-flex:nth-child(3n) {
  margin-right: 0;
}
.portfolio-button {
  display: flex;
  justify-content: center;
  
}
.portfolio-button .item + .item {
  margin-left: 8px ;
  
}
